<span class="language-count">1 Language Saved</span>

{{#each languages as |language|}}
  {{input class="language-input language-input--existing" value=language disabled=true}}
{{/each}}

{{input class="language-input language-input--new" value=newLanguage}}
<button class="language-input-save" onclick={{action "addLanguage"}}>+</button>
