<span class="language-count">1 Language Saved</span>

{{input class="language-input language-input--existing" value="English"}}
{{input class="language-input language-input--new"}}
<button class="language-input-save" onclick={{action "addLanguage"}}>+</button>
